body {
    height: 90%;
    font-family: "Open Sans";
    background: #f9fafc;
    width: 80%;
    margin: auto;
}

html{
    height: 100%;
}

.navcontainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.brand{
    justify-content: space-between;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #69696a;
    margin: 5px;
}

.cta {
    background: #000;
    border-radius: 20px;
    padding: 3px 20px;
    color: #f9fafc;
}

#about{
    display: block;
    border-left: 2px solid gray;
    padding-left: 6px;
    width: 45%;
    float: left;
}

.images{
    float: right;
    position: absolute;
    right: 100px;
}

.image1 {
    background: rgba(247, 136, 167, 0.6);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 0px;
    right: 158px;
}

.image2 {
    background: rgba(207, 130, 213, 0.6);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    right: 66px;
    top: -20px;
}

.image3 {
    background: rgba(247, 193, 162, 0.7);
    width: 190px;
    height: 190px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 82px;
}

.scroll {
    color: #f9fafc;
    background: #000;
    border-radius: 20px;
    padding: 3px 15px;
    display: block; 
    text-align: center;
    clear: both;
    width: 12%;
    margin: 51% auto 0 auto;
}

@media only screen and (max-width: 600px){
    .images{
        display: none;
    }
    .navcontainer{
        flex-direction: column;
    }
    .nav{
        flex-direction: column;
        display: inherit;
    }
    .cta{
        text-align: center;
    }
    .scroll{
        align-items: center;
        width: auto;
    }
}